# Students Performance Dataset: Understanding Dataset & Data Types

The objective is to understand dataset structure, data types, missing values, and ML readiness.

## Importing Required Libraries

Pandas is used for data loading and data analysis.

In [ ]:
import pandas as pd

## Loading the Students Performance Dataset

The dataset is loaded from the local file `students.csv`.

In [ ]:
students_df = pd.read_csv("students.csv")
students_df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

## Viewing First and Last Records

This helps in understanding the structure of rows and columns in the dataset.

In [ ]:
students_df.head()
students_df.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## Dataset Structure and Data Types

`students_df.info()` displays column names, data types, and non-null counts.

In [ ]:
students_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

## Statistical Summary of Numerical Features

`students_df.describe()` provides count, mean, standard deviation, minimum, maximum, and quartile values.

In [ ]:
students_df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

## Missing Values Analysis

This helps identify data quality issues such as missing values.

In [ ]:
students_df.isnull().sum()

gender                         0
race/ethnicity                 0
parental level of education    0
lunch                          0
test preparation course        0
math score                     0
reading score                  0
writing score                  0
dtype: int64

## Unique Values in Each Column

This is used to understand categorical data distribution.

In [ ]:
for col in students_df.columns:
      print("\nColumn:", col)
      print(students_df[col].unique())

Column: gender
['female' 'male']

Column: race/ethnicity
['group B' 'group C' 'group A' 'group D' 'group E']

Column: parental level of education
["bachelor's degree" 'some college' "master's degree" "associate's degree"
 'high school' 'some high school']

Column: lunch
['standard' 'free/reduced']

Column: test preparation course
['none' 'completed']

Column: math score
[ 72  69  90  47  76  71  88  40  64  38  58  65  78  50  18  46  54  66
  44  74  73  67  70  62  63  56  97  81  75  57  55  53  59  82  77  33
  52   0  79  39  45  60  61  41  49  30  80  42  27  43  68  85  98  87
  51  99  84  91  83  89  22 100  96  94  48  35  34  86  92  37  28  24
  26  95  36  29  32  93  19  23   8]

Column: reading score
[ 72  90  95  57  78  83  43  64  60  54  52  81  53  75  89  32  42  58
  69  73  71  74  70  65  87  56  61  84  55  44  41  85  59  17  39  80
  37  63  51  49  26  68  45  47  86  34  79  66  67  91 100  76  77  82
  92  93  62  88  50  28  48  46  23  38  94  97  99  31  96  24  29  40]

Column: writing score
[ 74  88  93  44  75  78  92  39  67  50  52  43  73  70  58  86  28  46
  61  63  53  80  72  55  65  38  82  79  83  59  57  54  68  66  62  76
  48  42  87  49  10  34  71  37  56  41  22  81  45  36  89  47  90 100
  64  98  51  40  84  69  33  60  85  91  77  27  94  95  19  35  32  96
  97  99  15  30  23]

## Dataset Size

The shape of the dataset shows the number of rows and columns.

In [ ]:
students_df.shape

(1000, 8)

## Feature Classification â€“ Students Performance Dataset

### Numerical:
- math score  
- reading score  
- writing score  

### Categorical:
- gender  
- race/ethnicity  
- parental level of education  
- lunch  
- test preparation course  

### Target Variable:
- math score (can also be reading or writing score depending on objective)

### Input Features:
- All remaining columns

## Dataset Suitability for Machine Learning

The dataset has good data quality with minimal missing values and is suitable for machine learning tasks such as regression and classification after proper preprocessing.